* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    width: 100vw;
    height: 100%;
}

#top_nav {
    background-color: #232f3e;
    height: 50px;
    width: 100%;
}
#top_nav img {
    height: 100%;
    width: auto;
    margin-left: 20px;
}